* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.day {
    font-style: italic;
}

body {
    color: #414141;
    font-size: 18px;
    line-height: 140%;
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3 {
    font-family: "Lora", serif;
}

.inner {
    margin: 0%;
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
    justify-content: flex-start;
    background-color: #E8E8E8;
}

a {
    text-decoration: none;
}

.heading {
    font-style: italic;
    font-size: 200%;
    font-family: "Lora", serif;
}
.choice {
    font-family: "Lora", serif;
    color: #414141;
    padding: 1%;
    width: 20%;
    text-align: center;
}

#majortitle {
    padding: 0%;
    margin: 0%;
    margin-right: 0%;
    margin-left: 2%;
    margin-right: 15%;
    font-size: 6.5vh;
    font-family: "Lora", serif;
    color: #414141;
}

#majortitle:hover {
    text-decoration: none;
    color: #414141;
}

.choice:link, .choice:visited, .choice:active {
    color: black;
    text-decoration: none;
}
.page {
    background-color: #F8F8F8;
    min-height: 100%;
    height: auto;
}

#aside {
    font-style: italic;
}

span {
    font-style: normal;
}

p {
    text-rendering: optimizeLegibility;
    font-kerning: normal;
}

.collapsible {
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

summary {
    font-size: large;
    color: #414141;
    font-weight: bold;
    outline: none;
    font-family: "Lora", serif;
}


.gallery__master {
    list-style: none;
    font-size: 0.75em;
    display: flex;
    overflow-x: auto;
    height: 20vh;
}

.gallery__thumb {
    height: 19vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 220, 220);
    margin: 0px;
    padding: 0px;
}

.gallery__thumb.selected .gallery__thumb-img-wrap {
    background-color: darkgray;
}

.gallery__master {
    background-color: rgb(220, 220, 220);
    height: 19vh;
}

.gallery__thumb:hover {
    cursor: pointer;
}

.gallery__thumb-img-wrap {
    display: block;
    width: 19vh;
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery__thumb-img {
    max-width: 19vh;
    max-height: 19vh;
    vertical-align: middle;
    text-align: center;
}

.gallery__detail-img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78vh;
}

.gallery__detail-img {
    padding-top: 2vh;
    max-height: 78vh;
    max-width: 98vw;
}

.gallery__caption {
    text-align: center;
    padding-top: 1%;
}

.gallery__thumb.selected .gallery__thumb-img-wrap {
    background-color: darkgray;
}



/* Rules for desktop but currently tablet size is also included here */
@media only screen and (min-width: 401px) {

    .top {
        background-color: rgb(220, 220, 220);
        display: flex;
        justify-content: space-between;
        margin: 0%;
        height: 18vh;
        flex-direction: column;
    }

    .help {
        height: 13vh;
        align-content: center;
        display: flex;
        vertical-align: middle;
        line-height: 13vh;
    }

    #majortitle {
        margin: 0 0 0 0;
        padding: 0px;
    }

    #majortitle.choice {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }

    h1, h2 {
        padding: 10px;
        margin: 10px;
    }

    h3 {
        padding-left: 20px;
    }

    a {
        text-decoration: none;
    }

    .heading {
        padding-top: 3%;
        padding-bottom: 2%;
    }

    .choice {
        margin: 0 auto;
        font-size: 2vw;
        position: relative;
        padding-left: 2%;
    }

    .choice:hover {
        color: gray;
        background-color: rgb(220, 220, 220);
    }

    .page {
        margin-left: 10%;
        margin-right: 10%;
    }

    #aside {
        padding: 3%;
        padding-bottom: 2%;
        padding-top: 3%;
    }

    li ol {
        padding-left: 30px;
    }

    li {
        margin: 1px;
        padding-top: 1px;
        padding-bottom: 1px;
    }

    p {
        margin: 10px;
        padding: 8px;
    }
    
    hr {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    #todo {
        padding-left: 5%;
        font-size: 120%;
    }

    .collapsible {
        cursor: pointer;
        font-size: large;
    }

    .content {
        height: 100%;
        height: 100vh;
        height: auto;
        max-width: 90ch;
        background-color: #F8F8F8;
    }

    summary {
        cursor: pointer;
    }

    .pic {
        float: right;
        width: 200px;
        padding: 10px;
        margin: 20px;
        margin-right: 60px;
        margin-top: 0px;
    }

    .another {
        padding-left: 3%;
        background-color: #F8F8F8;
    }

    .info {
        padding: 3%;
        padding-bottom: 0%;
        padding-top: 0%;
        padding-left: 4%;
    }
}

@media only screen and (max-width: 400px) {

    body {
        padding-left: 1%;
        padding-right: 1%;
        background-color: #F8F8F8;
        width: 100%;
    }

    .top {
        overflow: scroll;
        display: flex;
        padding-top: 1%;
        padding-bottom: 3%;
        justify-content: space-between;
        overflow: wrap;
        background-color: rgb(220, 220, 220);
        flex-direction: column;
    }

    .choice {
        font-size: 2.5vh;
    }

    #majortitle {
        font-size: 4vh;
        position: relative;
        top: 2px;
        text-align: center;
        margin: 0%;
    }

    .inner {
        position: relative;
        padding: 0%;
        top: 11px;
    }

    .heading {
        font-size: 170%;
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 1%;
    }

    #aside {
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 1%;
    }

    summary {
        padding-top: 2%;
        padding-bottom: 2%;
    } 

    .info {
        padding-bottom: 2%;
        padding-left: 7%;
        padding-right: 7%;
    }

    li  ol {
        padding-left: 22px;
        padding-right: 22px;
        
    }

    .pic {
        padding: 2%;
        width: 90%;
        height: auto;
        display: flex;
    }

    .content {
        width: 100%;
    }

    hr {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    ul {
        padding-top: 5%;
        padding-left: 15%;
        padding-right: 15%;
    }

    p {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    li {
        padding-top: 1%;
        padding-bottom: 1%;
    }

    h2 {
        padding-left: 2%;
        font-size: 130%;
        padding-top: 3%;
    }

    .gallery__master {
        padding: 0%;
    }

    .gallery__detail-img {
        padding: 0%;
    }
}