<h1 class="heading">Notes</h1>
<div class="content">
    <h2>Stray Observations</h2>
    <ul class="info">
        <li>Every country I've traveled to has had Pringles which I guess is fine since they are a decent snack, but not one of them has had goldfish which makes no sense and really is just sad for all those Europeans who have had to go their whole lives without the snack that smiles back</li>
        <li>Public restrooms aren't super common but when they are around you have to pay to use them. In a
            related
            note, there are no water (drinking) fountains anywhere. Yeah you don't see them everywhere in
            America
            either which is also a bummer, but it seems like Europeans don't know that they are a thing. Someone
            should tell them.</li>
        <li>Despite not having water fountains there are so many decorative or commemorative fountains</li>
        <li>In Germany I have seen three interesting things regarding windows:
            <ol>
                <li>Some windows have the blinds on the outside</li>
                <li>One building had little circular holes at the bottom of all of its windows but I don't know
                    why
                </li>
                <li>The windows open in such cool ways - you can open them vertically as in pulling them down or
                    up, or you can open them like a door</li>
            </ol>
        </li>
        <li>Most people I have passed by or encountered smoke. So much. And everywhere.</li>
        <li>Bread is a really big deal</li>
        <li>There is a general feeling of environmental consciousness (aside from the effects of all the
            smoking)
        </li>
        <li>The transportation systems are pretty nice</li>
        <li>Most of the buildings are colorful and the architecture is very detailed</li>
        <li>People have no problem walking around with open containers of alcohol</li>
        <li>The crosswalk signal person in Berlin is SO cute</li>
        <li>A lot of people have dogs and bring them everywhere, oftentimes not on a leash either. This was
            surprising to see, especially in crowded places like train stations</li>
        <li>Bikes are huge in Copenhagen, so much so that bike lanes are everywhere and sometimes even bigger than the car lanes, and bikes also have their own traffic lights</li>
    </ul>
</div>
</div>
<script src="./main.js"></script>