        <h1 class="heading">Copenhagen TODO List</h1>
        <div class="content" id="todo">
            <ul>
                <li>Find a different place to read every day until I finish my book</li>
                <li>Get back on a decent sleep schedule</li>
                <li>Find a time to wander around without a goal to see what I can discover</li>
                <li>Try new food</li>
                <li>Go grocery shopping</li>
                <li>Learn a word of Danish</li>
                <li>Meet people from Copenhagen</li>
                <li>Go to a museum</li>
                <li>Learn about web development</li>
                <li>Plan well enough to be on time for things</li>
            </ul>
        </div>

    </div>