
        <h1 class="heading">Story time!</h1>
        <p id="aside">This page contains stories from various points in my trip. The <span>most recent</span> are at the
            <span>top</span>.</p>

        <div class="content">
            <div class="another">

                {{#each posts}}
                <details>
                    <summary>{{title}}</summary>
                    <p class="info day">{{{publishAt}}}</p>
                    {{{body}}}
                </details>
                {{/each}}

            </div>
        </div>
    </div>