<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Lora&display=swap" rel="stylesheet">
</head>

<body>
    <div class="page">
        <div class="top">
            <div class="help"><a class="choice" id="majortitle">Hello World</a></div>
            <div class="inner">
                <a class="choice" href="/">Notes</a>
                <a class="choice" href="about">About</a>
                <a class="choice" href="stories">Stories</a>
                <a class="choice" href="list">List</a>
                <a class="choice" href="gallery">Photos</a>
            </div>
        </div>
        {{{ body }}}

</body>
</html>